/* __________________ INIT __________________ */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'raleway';
  src: url('/font/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'ralewayRegular';
  src: url('/font/Raleway/static/Raleway-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'ralewayBold';
  src: url('/font/Raleway/static/Raleway-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'ralewayExtraBold';
  src: url('/font/Raleway/static/Raleway-ExtraBold.ttf') format('truetype');
}

html {
  font-family: 'raleway', sans-serif;

  max-width: 1420px;
  margin: auto;

  scroll-behavior: smooth;
}

main {
  margin: 0 40px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-family: 'ralewayBold';
  font-size: 22px;
}

h3 {
  font-family: 'ralewayBold';
}

h4 {
  font-family: 'ralewayBold';
  font-size: 18px;
}

/* MOBILE init */
@media screen and (max-width: 768px) {
  main {
    margin: 0;
  }
}

/* __________________ HEADER __________________ */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.logo > img {
  width: 30%;
  margin-left: 15px;
}

nav ul {
  display: flex;
}

nav a {
  padding: 38px 25px 0px 25px;
}

nav a:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}

/* MOBILE header*/
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 25px;
    margin: 30px 0;
    padding-bottom: 10px;
  }

  .logo {
    display: flex;
    justify-content: center;
  }

  .logo > img {
    margin-left: 0;
  }

  nav {
    width: 100%;
  }

  nav ul {
    justify-content: space-between;
  }

  nav li {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 3px solid #f2f2f2;
  }

  nav li:hover {
    padding-bottom: 10px;
    border-bottom: 3px solid #0065fc;
  }

  nav a:hover {
    border-top: none;
  }
}

/* __________________ SECTION SEARCH __________________ */

/* ---- form ---- */
.search {
  margin-bottom: 30px;
}

.search > p {
  margin: 15px 0px;
}

.search__form {
  display: flex;
}

.location {
  position: relative;
  width: 50px;
  height: 50px;

  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;

  background-color: #f2f2f2;
}

.fa-location-dot {
  position: absolute;
  top: 16px;
  left: 20px;

  font-size: 18px;
}

.search__form input {
  width: 240px;
  height: 50px;

  border: 1px solid #f2f2f2;
  outline-color: #d9d9d9;

  padding-left: 15px;
  font-family: 'ralewayExtraBold';
  font-size: 18px;
}

::placeholder {
  color: black;
}

label {
  display: flex;
  align-items: center;
  cursor: pointer;

  width: 130px;
  height: 50px;

  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;

  background-color: #0065fc;

  padding: 0 15px;
  font-family: 'ralewayBold';
  font-size: 17px;
  color: white;
}

.search-mobile {
  display: none;
}

/* MOBILE form */
@media screen and (max-width: 768px) {
  .search {
    margin: 0 20px;
  }
  .search > h2 {
    display: inline-block;
    width: 300px;
  }
  .search > p {
    margin-bottom: 40px;
  }

  .search-desktop {
    display: none;
  }

  .search-mobile {
    display: flex;
    justify-content: center;

    width: 50px;

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  /*TODO*/
  /* border input >>>>>>>>> */
}

/* ---- filter ---- */
.filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;

  margin: 30px 0;
}

.filter__button {
  display: flex;
  align-items: center;
  cursor: pointer;

  border: 1px solid #d9d9d9;
  border-radius: 30px;

  transition: border-color 350ms, box-shadow 350ms, transform 250ms;
}

.filter__button:hover {
  border-color: #0065fc;
  box-shadow: 0px 0px 8px #0065fc;
  transform: scale(1.01);
}

.filter__layout {
  display: flex;
  justify-content: center;

  position: relative;
  right: 2px;

  width: 50px;
  height: 50px;

  border-radius: 50%;

  background-color: #deebff;
  color: #0065fc;
  font-size: 20px;
}

.filter__icone {
  align-self: center;
}

.filter__icone:hover {
  transform: rotate(360deg);
}

.filter__button p {
  padding: 0 15px;

  font-family: 'ralewayBold';
  font-size: 18px;
}

.filter__button p::first-letter {
  text-transform: capitalize;
}

/* MOBILE filter */
@media screen and (max-width: 768px) {
  .filter {
    gap: 15px;
  }
  .filter h3 {
    width: 100%;
  }
}

/* ---- information ---- */
.information {
  display: flex;
  gap: 15px;
}

.information__icone {
  display: flex;
  justify-content: center;

  width: 22px;
  height: 22px;

  border: 1px solid #d9d9d9;
  border-radius: 50%;
}

.information__icone > i {
  align-self: center;

  font-size: 14px;
  color: #0065fc;
}

.information > p {
  align-self: flex-end;
}

/* MOBILE information */
@media screen and (max-width: 768px) {
  .information > p {
    margin-bottom: 30px;
  }
}

/* __________________ SECTION HOSTING & ASIDE POPULAR __________________ */

/* ---- section & aside layout ---- */
.container {
  display: flex;
  gap: 40px;
}

.hosting {
  padding: 40px;
  flex: 3;
}

.popular {
  padding: 40px;
  flex: 1.28;
}

.hosting,
.popular {
  background-color: #f2f2f2;
  border-radius: 15px;
}

/* MOBILE section hosting & aside popular */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }
  .hosting,
  .popular {
    border-radius: 0;
    margin-right: 0;
    padding-right: 20px;
    padding-left: 20px;
  }
  .hosting {
    padding-top: 0;

    background-color: transparent;
  }
}

/* __________________ HOSTING CARDS __________________ */
.hosting__layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin: 30px 0;
}

.hostingCard {
  /* cards have the same size */
  min-width: 245px;

  border-radius: 20px;
  box-shadow: 0 0 15px #d9d9d9;

  background-color: white;

  transition: transform 250ms;
}

.hostingCard:hover {
  transform: scale(1.01);
}

.hostingCard__photo {
  padding: 5px;
}

.hostingCard__photo > img {
  object-fit: cover;

  /* the picture take all the space in the card */
  width: 100%;
  height: 110px;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.hostingCard__description {
  margin: 5px 0 10px 15px;
}

.hostingCard__description--name {
  font-family: 'ralewayBold';
}

.hostingCard__description--price {
  margin: 5px 0;
  font-size: 14px;
}

.hostingCard__description--price span {
  font-family: 'ralewayBold';
}

#budget {
  font-family: 'ralewayBold';
}

.hostingCard__description--rate {
  font-size: 11px;
}

#full {
  color: #0065fc;
}

#empty {
  color: #d9d9d9;
}

/* __________________ MORE __________________ */
.more {
  font-size: 18px;
  font-family: 'ralewayBold';
}

/* __________________ POPULAR CARDS __________________ */
.popular__title {
  display: flex;
  justify-content: space-between;
}

.popular__title > i {
  font-size: 20px;
}

.popular__layout {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.popularCard__layout {
  display: flex;
  justify-content: space-between;
}

.popularCard {
  height: 145px;

  border-radius: 15px;
  box-shadow: 0 0 15px #d9d9d9;

  background-color: white;

  transition: transform 250ms;
}

.popularCard:hover {
  transform: scale(1.01);
}

.popularCard__photo {
  width: 40%;
}

.popularCard__photo > img {
  object-fit: cover;

  width: 100%;
  height: 145px;

  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  padding: 5px 0px 5px 5px;
}

.popularCard__description {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 15px 50px 15px 15px;
}

.popularCard__description--rate {
  font-size: 11px;
}

.popularCard__description--name {
  font-family: 'ralewayBold';
}

.popularCard__description--price {
  margin: 5px 0;
  font-size: 14px;
}

.popularCard__description--price span {
  font-family: 'ralewayBold';
}

/* MOBILE hostingCard, popularCard & more */
@media screen and (max-width: 768px) {
  .hosting__layout,
  .popular__layout {
    flex-direction: column;
    gap: 15px;
  }
}

/* __________________ SECTION ACTIVITIES __________________ */
.activities {
  margin-bottom: 50px;
}

.activities > h2 {
  margin: 55px 0 25px 0;
}
.activities__layout--global {
  display: flex;
  gap: 40px;
}

.activities__layout--column {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 40px;
}

.activityCard {
  max-width: 305px;

  border-radius: 15px;
  box-shadow: 0 0 15px #d9d9d9;
  height: fit-content;

  background-color: white;

  transition: transform 250ms;
}

.activityCard:hover {
  transform: scale(1.01);
}

.activityCard__photo > img {
  width: 100%;
  object-fit: cover;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.large > img {
  height: 390px;
}
.medium > img {
  height: 153px;
}
.medium-plus > img {
  height: 200px;
}
.extra-small > img {
  height: 100px;
}
.small > img {
  height: 145px;
}

.activityCard__description {
  font-family: 'ralewayBold';
  text-transform: capitalize;

  margin: 14px;
}

/* MOBILE section activities*/
@media screen and (max-width: 768px) {
  .activities__layout--global {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 25px;
  }
  .activities__layout--column {
    gap: 25px;
  }
  .activities > h2 {
    margin-left: 20px;
    margin-top: 0;
  }
  .activityCard {
    min-width: 100%;
  }
  .mobile-size > img {
    height: 145px;
  }
}

/* __________________ FOOTER __________________ */
footer {
  display: flex;
  background-color: #f2f2f2;

  padding: 40px;
}

.footer-column {
  margin-right: 18%;
}

.footer-column li {
  margin-top: 14px;
}

.footer-column a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

/* MOBILE footer */
@media screen and (max-width: 768px) {
  footer {
    padding: 40px 20px;
    flex-direction: column;
    gap: 50px;
  }
}
